<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>财务对账系统</title>
    <link rel="shortcut icon"  href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="indexPage">
        <div class="header">
            <div class="head-top">
                <div class="lg-info">
                    <span class="exit" @click="logoutReq">退出</span>
                    <span>欢迎您,<b>{{loginName}}</b></span>
                </div>
            </div>
            <div class="head-bot">
                <ul>
                    <li class="yklogo"><span></span></li>
                    <li class="tit">财务对账系统</li>
                    <li id="uploadfile"><span onselectstart="return false;" @click="uploadsth">上传账单</span></li>
                </ul>
            </div>
        </div>
        <div class="side-wrapper">
            <div class="s-w-l">
                <ul>
                    <li onselectstart="return false;" class="tabofbill" :class="{active: isTabshow}" @click="billTabEvent">账单管理</li>
                    <li onselectstart="return false;" class="tabofcheck" :class="{active: !isTabshow}" @click="checkTabEvent">对账管理</li>
                </ul>
            </div>
            <div class="s-w-r">
                <div class="searchCondition clearfix">
                    <ul v-show="isTabshow"><!-- 账单状态 -->
                        <li class="s-time clearfix mr30 selectorWrap">
                            <label>时间:</label>
                            <selector class="selectStya mr10" default-html="2017年" :default-val="byear" select-type="year" select-mean="byear" @chooseopt="handledata"></selector>
                            <selector class="selectStya" default-html="1月" default-val="01" select-type="month" select-mean="bmonth" @chooseopt="handledata"></selector>
                            <span class="mr5 ml5">-</span>
                            <selector class="selectStya mr10" default-html="2017年" :default-val="eyear" select-type="year" select-mean="eyear" @chooseopt="handledata"></selector>
                            <selector class="selectStya" default-html="1月" default-val="01" select-type="month" select-mean="emonth" @chooseopt="handledata"></selector>
                        </li>
                        
                        <li class="s-status clearfix selectorWrap" v-show="isTabshow">
                            <label>账单状态:</label>
                            <selector class="selectStyc" default-html="全部" :default-val="billStatus" select-type="status" select-mean="billStatus" @chooseopt="handledata"></selector>
                        </li>
                        <li class="s-payway clearfix mr20 selectorWrap" v-show="isTabshow">
                            <label>支付渠道:</label>
                             <selector class="selectStyb" default-html="全部" :default-val="channel" select-type="channel" select-mean="channel" need-total="yes" Bo @chooseopt="handledata" @sendlists="receiveListEvent"></selector>
                        </li>
                        <li class="s-account clearfix">
                            <label>支付账号:</label>
                            <input type="text" name="account" v-model="accountName" @focus="combineFocus" @blur="combineBlur">
                            <div class="combineResWrap" v-show="isCombineShow">
                                <p v-if="isListNull">未找到匹配结果</p>
                                <ul v-else>
                                    <li v-for="item in combinelists" @mousedown="combineItemEvent">{{item}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul v-show="!isTabshow"><!-- 支付渠道 -->
                        <li class="s-time clearfix mr30 selectorWrap">
                            <label>时间:</label>
                            <selector class="selectStya mr10" default-html="2017年" :default-val="byear" select-type="year" select-mean="byear" @chooseopt="handledata"></selector>
                            <selector class="selectStya" default-html="1月" default-val="01" select-type="month" select-mean="bmonth" @chooseopt="handledata"></selector>
                            <span class="mr5 ml5">-</span>
                            <selector class="selectStya mr10" default-html="2017年" :default-val="eyear" select-type="year" select-mean="eyear" @chooseopt="handledata"></selector>
                            <selector class="selectStya" default-html="1月" default-val="01" select-type="month" select-mean="emonth" @chooseopt="handledata"></selector>
                        </li>
                        <li class="s-status clearfix selectorWrap" v-show="!isTabshow">
                            <label>对账状态:</label>
                             <selector class="selectStyc" default-html="全部" :default-val="billStatus" select-type="status" select-mean="billStatus" @chooseopt="handledata"></selector>
                        </li>
                        <li class="s-payway clearfix mr20 selectorWrap">
                            <label>支付渠道:</label>
                             <selector class="selectStyb" default-html="全部" :default-val="channel" select-type="channel" select-mean="channel" need-total="yes" @chooseopt="handledata" @sendlists="receiveListEvent"></selector>
                        </li>
                        <li class="s-account clearfix">
                            <label>支付账号:</label>
                            <input type="text" name="account" v-model="accountName" @focus="combineFocus" @blur="combineBlur">
                            <div class="combineResWrap" v-show="isCombineShow">
                                <p v-if="isListNull">未找到匹配结果</p>
                                <ul v-else>
                                    <li v-for="item in combinelists" @mousedown="combineItemEvent">{{item}}</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="searchBtn">
                        <span onselectstart="return false;" @click="searchResultEvent()">查询</span>
                    </div>
                </div>
                <div class="searchResult">
                <!-- v-if="resultShow === 'bill' && billRequestdata"   v-else-if="resultShow === 'check' && checkRequestdata"-->
                    <div  v-show="isTabshow">
                        <div v-show="billHasdata">
                            <div class="overview">共找到<b>{{billTotal}}</b>条信息</div>
                            <table>
                                <tr>
                                    <th>账单文件名</th>
                                    <th>支付渠道</th>
                                    <th>支付账号</th>
                                    <th>对账年月</th>
                                    <th>账单状态</th>
                                    <th>上传人</th>
                                    <th>上传时间</th>
                                    <th>操作</th>
                                </tr>
                                <tr class="nocheckitem" v-for="item in newResultListBill">
                                    <td class="w180 txtpos-l">{{item.fileName}}</td>
                                    <td class="w90">{{item.channelName}}</td>
                                    <td class="w140 txtpos-l">{{item.accountName}}</td>
                                    <td class="w90">{{item.billTime}}</td>
                                    <td class="w90 hlight"><p v-if="item.billStatus === 1">对账中</p><p class="c00C651" v-else-if="item.billStatus === 2">对账通过</p><p v-else-if="item.billStatus === 3">对账未通过</p><p class="c666" v-else-if="item.billStatus === 4">已确认</p><p v-else-if="item.billStatus === -1">对账失败</p><p v-else-if="item.billStatus === 0">未对账</p></td>
                                    <td class="w90">{{item.operator}}</td>
                                    <td class="w160">{{item.unixTime}}</td>
                                    <td class="w150 operatecheck"><span  v-if="item.billStatus === 0 || item.billStatus === -1 || item.billStatus === 3" @click="startCheckBtn(item.id)">对账</span></td>
                                </tr>
                            </table>
                            <pagination v-if="billTotal > 0" @getnewpage="getNewPageEvent" :total-items="billTotal" :page-size="pageSize"></pagination>
                        </div>
                        <!-- 无结果 -->
                        <div class="resOfnone" v-show="!billHasdata && billSearchNull">
                           <div class="bg"></div>
                           <p>没有找到结果！</p> 
                        </div>
                    </div>
                    <div  v-show="!isTabshow" >
                        <div v-if="checkHasdata">
                            <div class="overview">共找到<b>{{checkTotal}}</b>条信息</div>
                            <table>
                                <tr>
                                    <th>账单文件名</th>
                                    <th>支付渠道</th>
                                    <th>支付账号</th>
                                    <th>对账年月</th>
                                    <th>对账状态</th>
                                    <th>上传人</th>
                                    <th>上传时间</th>
                                    <th>操作</th>
                                </tr>
                                <tr class="nocheckitem" v-for="item in newresultListCheck">
                                    <td class="w180 txtpos-l">{{item.fileName}}</td>
                                    <td class="w90">{{item.channelName}}</td>
                                    <td class="w140 txtpos-l">{{item.accountName}}</td>
                                    <td class="w90">{{item.billTime}}</td>
                                    <td class="w90 hlight"><p v-if="item.billStatus === 1">对账中</p><p class="c00C651" v-else-if="item.billStatus === 2">对账通过</p><p v-else-if="item.billStatus === 3">对账未通过</p><p class="c666" v-else-if="item.billStatus === 4">已确认</p><p v-else-if="item.billStatus === -1">对账失败</p><p v-else-if="item.billStatus === 0">未对账</p></td>
                                    <td class="w90">{{item.operator}}</td>
                                    <td class="w160">{{item.unixTime}}</td>
                                    <td class="w150 operatecheck"><a :href="'/module/detail.html?id=' + item.id + '&' + item.channel + '&' + item.accountName + '&' + item.billTime" target="_blank">详情</a><span v-if="item.billStatus !== 4" @click="confirmCheckBtn(item.id)">确认对账</span></td>
                                </tr>
                            </table>
                            <pagination v-if="checkTotal > 0" @getnewpage="getNewPageEvent" :total-items="checkTotal" :page-size="pageSize"></pagination>
                        </div>
                        <!-- 无结果 -->
                        <div class="resOfnone" v-show="!checkHasdata && checkSearchNull">
                           <div class="bg"></div>
                           <p>没有找到结果！</p> 
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>       
        <dialogpop v-if="isShowthis" :con-type="dialogType" :con-title="dialogTitle" :con-rank="dialogRank" :dialog-sub="hasDialogsub" :upload-array="uploadCombinelList" @dialogclose="closeEvent" @uploadeventsure="toUploadEvent"><p>{{dialogHtml}}</p><p v-if="hasDialogsub">{{dialogHtmlSub}}</p></dialogpop>
    </div>
</body>
</html>



