<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="shortcut icon"  href="/favicon.ico" type="image/x-icon">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>
<body>
    <div id="loginPage">
        <headwrap title="财务对账系统" :need-upload="false" :need-logfoo="false"></headwrap>
        <div class="loginMidWrap">
            <div class="loginFrame" v-cloak>
                <p>账户登录</p>
                <div class="loginError">{{errorMsg}}</div>
                <div class="formin account"><input  type="txt" name="account" placeholder="登录名"  v-model="accountVal"></div>
                <div class="formin password"><input type="password" name="pwd" placeholder="请输入密码" :value="pwdVal"  v-model="pwdVal" @keyup.enter="logininEvent"></div>
                <div class="submitBtn"><span onselectstart="return false;" @click="logininEvent">登录</span></div>
            </div>
        </div>
        <div class="loginFooter">Copyright©️优酷 youku.com 版权所有</div>  
    </div>
</body>
</html>