<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>账单详情</title>
  <link rel="shortcut icon"  href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="detailPage">
    <div class="header">
        <div class="head-top">
            <div class="lg-info">
                <span class="exit" @click="logoutReq">退出</span>
                <span>欢迎您,<b>{{loginName}}</b></span>
            </div>
        </div>
        <div class="head-bot">
            <ul>
                <li class="yklogo"><span></span></li>
                <li class="tit">财务对账系统</li>
            </ul>
        </div>
    </div>
    <div class="detail-wrapper">
      <ul class="infOfdetail clearfix">
        <li>对账信息：</li>
        <li class="billPayway"><p v-if="payChannel === '1'">支付宝</p><p v-else-if="payChannel === '2'">微信</p><p v-else-if="payChannel === '3'">财付通</p><p v-else>{{payChannel}}</p></li>
        <li>，</li>
        <li class="billAccount">{{billAccount}}</li>
        <li>，</li>
        <li class="billDate">{{billTime}}</li>
      </ul>
      <div class="tabOfdetail clearfix" :class="{hastwo: hasUncheckTab}">
        <div class="tab_first tablist mr5" :class="{active: ischeckDetailTab}" @click="checkDetailTab">对账详情</div>
        <div class="tab_second tablist" :class="{active: !ischeckDetailTab}" @click="uncheckedTab">未核对订单</div>
        <div class="tab_last">
          <a :href="exporturi" target="_blank">导出全部不一致订单</a>
        </div>
      </div>
      <div class="resOfdetaill">
        <div v-show="ischeckDetailTab">
          <div class="overview clearfix">
            <span class="handleCharge">手续费(元)：<b>-{{detialFee}}</b></span>
            <span class="extendNum mr20">支出总计(元)：<b>-{{detialRefund}}</b></span>
            <span class="incomeNum mr20">收入总计(元)：<b>+{{detialRevenue}}</b></span>
          </div>
          <table>
            <tr>
              <th>商户订单号</th>
              <th>收入金额(元)</th>
              <th>支出金额(元)</th>
              <th>业务类型</th>
              <th class="w180">核对结果</th>
              <th class="w300">操作</th>
            </tr>
            <tr v-for="item in billDetailList">
              <td>{{item.payChargeSn}}</td>
              <td><b class="mr5">+</b>{{item.revenue}}</td>
              <td><b class="mr5">-</b>{{item.cost}}</td>
              <td>{{item.type}}</td>
              <td>{{item.verifyResult}}</td>
              <td class="txtpos-l" v-if="!!item.verifyResult">{{item.reason}}</td>
              <td class="handleConf" v-else><span>手动确认</span></td>
            </tr>
          </table>
          <pagination v-if="detailTotal > 0" @getnewpage="getBillNewPage" :total-items="detailTotal" :page-size="pageSize"></pagination>
        </div>
        <div v-show="!ischeckDetailTab">
          <div class="overview clearfix">
            <span class="extendNum mr20">支出总计(元)：<b>-{{uncheckedRefund}}</b></span>
            <span class="incomeNum mr20">收入总计(元)：<b>+{{uncheckedRevenue}}</b></span>
          </div>
          <table>
            <tr>
              <th>商户订单号</th>
              <th>收入金额(元)</th>
              <th>支出金额(元)</th>
              <th>业务类型</th>
              <th class="w180">核对结果</th>
              <th class="w300">操作</th>
            </tr>
            <tr v-for="item in unCheckedList">
              <td>{{item.payChargeSn}}</td>
              <td><b class="mr5">+</b>{{item.revenue}}</td>
              <td><b class="mr5">-</b>{{item.cost}}</td>
              <td>{{item.type}}</td>
              <td>{{item.verifyResult}}</td>
              <td class="txtpos-l" v-if="!!item.verifyResult">{{item.reason}}</td>
              <td class="handleConf" v-else><span>手动确认</span></td>
            </tr>
          </table>
          <pagination v-if="uncheckTotal > 0" @getnewpage="getUncheckNewPage" :total-items="uncheckTotal" :page-size="pageSize"></pagination>
        </div>
      </div>
    </div>
    <dialogpop v-if="isShowthis" :con-type="dialogType" :con-title="dialogTitle" :con-rank="dialogRank" :dialog-sub="hasDialogsub" @dialogclose="closeEvent"  @handeventsure="tohandeventsure"><p>{{dialogHtml}}</p><p v-if="hasDialogsub">{{dialogHtmlSub}}</dialogpop>
  </div>
</body>
</html>
